/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');


/* ==== VARIABLES CSS ===*/
:root{
    --header-height: 3rem;

/* === COLORS === */
    --first-color:         #1b1b1b;
    --first-color-dark:    #1b1b1b;
    --first-color-darken:  #BBA14F;
    --first-color-hover:   #A48111;
    --white-color:         #f5fefd;


/* === FONT AND TYPOGRAPHY === */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;

/* === Z-INDEX === */
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 5rem;
        --normal-font-size: 1rem;
    }
}


/* === BASE === */
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    background-color: var(--first-color); /* TEMP*/
    min-height: 100vh; /* TEMP*/
    overflow-x: hidden; /* Hide horizontal scrollbar */
}


.nav h1,p,ul{
    margin: 0;
}

.nav ul{
    padding: 0;
    list-style: none;
}

.nav a{
    text-decoration: none;
}

.nav img{
    max-width: 100%;
    height: auto;
}


/* === LAYOUT */

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}


.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: var(--z-fixed);
    background-color: var(--first-color);
 }

/* === NAV === */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background: rgba(27, 27, 27, .3);
        backdrop-filter: blur(10px);
        transition: .5s;
        font-size: 25px;
    }
    
}

.nav__close{
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__item{
    margin-bottom: 2rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
    color: var(--first-color-hover);
}

.nav__link:hover{
    color: var(--first-color-darken);
}

.nav__toggle{
    font-size: 1.5rem;
    cursor: pointer;
}

/* === SHOW MENU === */
.show{
    right: 0;
}

.home{
    background-color: var(--first-color);
    overflow: hidden;   
}

.home__container{
    height: calc(5vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    row-gap: 1.5rem;
}



/* === MEDIA QUERIES === */
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__toggle, .nav__close{
        display: none;
    }

    .nav__list{
        display: flex;
    }

    .nav__item{
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .home__container{
       height: 10vh;
       grid-template-columns: repeat(2, max-content);
       grid-template-rows: 1fr;
       row-gap: 0;
       align-items: center;
       justify-content: center;
    }

    

}

@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }

    .home__container{
        justify-content: initial;
        column-gap: 4.5rem;
    }




}



.home__title{
    font-size: var(--big-font-size);
    line-height: .9;
    margin-bottom: 1rem;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: flex;

    
}

.home__data{
    color: var(--white-color);
}



/* === PRODUCT LISTING === */

.slide-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;

    align-items: center;
    justify-items: center;


    
}

.wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper:focus {
    outline: 0;
}

.BuyButton {
    display: inline-block;
    margin: auto;
    position: relative;
    text-align: center;
    color: var(--white-color);
    padding-bottom: 30px;
    border-radius: .5rem;
    font-size: 16px;
}

.BuyButton a {
text-decoration: none;
}





.switch-card {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;

}
.switch-card__image {
    position: relative;
    height: 230px;
    margin-bottom: 35px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.switch-card__image--yellow {
    background: linear-gradient(#bba14f, #a48111, #9f6827);
}
.switch-card__image--yellow img {
    width: 400px;
    position: absolute;
    top: -85px;
    left: -50px;
}
.switch-card__level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}
.switch-card__level--yellow {
    color: #ec9b3b;
}
.switch-card__unit-name {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}
.switch-card__unit-description {
    padding: 20px;
    margin-bottom: 10px;
}
.switch-card__unit-stats--yellow {
    background: #ec9b3b;
}
.switch-card__unit-stats--yellow .one-third {
    border-right: 1px solid #bd7c2f;
}
.switch-card__unit-stats {
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.switch-card__unit-stats .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
}
.switch-card__unit-stats sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
}
.switch-card__unit-stats .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}
.switch-card__unit-stats .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}
.switch-card__unit-stats .no-border {
    border-right: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.slick-prev {
    left: 100px;
    z-index: 999;
}
.slick-next {
    right: 100px;
    z-index: 999;
}